<h1>TASKS I'M ENROLLED IN</h1>

<ul>
    {{#each events}}
    <li>
        <h2>{{ this.title }}</h2>
        <p>{{ this.address.location }}</p>
        <p>{{ this.initialDateTime }} </p>
        <p>{{ this.finalDateTime }} </p>
        {{#ifequal _id this.keeper}}
         <h2>You are the keeper selectec</h2>
        {{/ifequal}}
        <button><a href="/events/{{this._id}}">Details</button>
    </li>
    {{/each}}
</ul>
<button><a href="/profile">Back to profile</button>
<button class="events"><a href="/events">All tasks</button>