<h1>{{ event.title }} </h1>
<p>{{ event.description }}</p>
<p>{{ event.address.location }}</p> <p>{{ event.initialDateTime }} </p> <p>{{ event.finalDateTime }} </p>
<button class="enroll"><a href="/">Enroll</button>
<a href="/events">All events</a>
