<h1>{{ event.title }} </h1>
<p>{{ event.description }}</p>
<ul><p>Pet(s):</p>
   {{#each pets}}
   <li>
     <p>Type: {{ this.petType }} <p/>
     <p>Name: {{ this.petName }}</p>
     <p>Age: {{ this.petAge }} </p>
     <p>Weight: {{ this.petWeight }} </p>
    
   </li>
   {{/each}}
</ul>
<p>Location: {{ event.address.location }}</p>
<p>Starts: {{ event.initialDateTime }} </p>
<p>Ends: {{ event.finalDateTime }} </p>
<p>Owner: {{ event.owner.name }}</p>

<button class="enroll"><a href="/events/{{event._id}}/enroll">Enroll</button>
<button class="edit"><a href="/events/{{event._id}}/update">Edit</button>
<form action="/events/{{event._id}}/delete" method="POST">
  <input type="submit" value="Delete">
</form>
<button class="events"><a href="/events">All events</button>

