<div class="infoMessage">
  {{#if infoMessages}}
    <p class="info">{{infoMessages}}</p>
  {{/if}}
</div>

<div class="errorMessages">
  {{#if errorMessages }}
    <p class="error">{{ errorMessages }}</p>
  {{/if }}
</div>

<div class="dangerMessages">
  {{#if dangerMessages}}
    <p class="info">{{dangerMessages}}</p>
  {{/if}}
</div>

<div class="successMessages">
  {{#if successMessages}}
    <p class="info">{{successMessages}}</p>
  {{/if}}
</div>

<div class="warningMessages">
  {{#if warningMessages}}
    <p class="info">{{warningMessages}}</p>
  {{/if}}
</div>
