<h1>Edit pet:</h1>
<form id="form" action="/pets/{{_id}}" method="POST">

    <label for="petType">TYPE</label>
    <input type="text" name="petType" value="{{petType}}"><br>

    <label for="petWeight">WEIGHT</label>
    <input type="number" name="petWeight" value="{{petWeight}}"><br>

    <label for="petAge">AGE</label>
    <input type="number" name="petAge" value="{{petAge}}"><br>

    <label for="petName">NAME</label>
    <input type="text" name="petName" value="{{petName}}">


    <button type="submit">UPDATE</button>

</form>

<button><a href="/pets">All my pets</button>
