<h1>View your profile</h1>
<p>User name: {{user.username}}</p>
<p>Name: {{user.name}}</p>
<p>Last Name: {{user.lastName}}</p>
<p>email: {{user.email}}</p>
<p>Phone: {{user.phone}}</p>
<p>Mobile: {{user.mobile}}</p>
<p>Secondary Phone:{{user.secondaryPhone}}</p>
<a class="button" href="profile/update">Edit Profile</a>