<div class="home-container">
  {{#if enabled}}
  <h1>My profile</h1>
  {{else}}
  <h1>{{user.name}}'s profile detail</h1>
  {{/if}}
  <img src="{{user.img}}">
  <p>Name: {{user.name}}</p>
  <p>Last Name: {{user.lastName}}</p>
  <p>email: {{user.email}}</p>
  <p>Phone: {{user.phone}}</p>
  <p>Mobile: {{user.mobile}}</p>
  <p>Secondary Phone:{{user.secondaryPhone}}</p>

  {{#if enabled}}
  <button><a href="/profile/update">Edit profile</button>
  <button><a href="/events/myevents">My tasks</button>
  <button><a href="/events/enrolledin">Enrolled in</button>
  <button><a href="/pets/new">Add a pet</button>
  <button><a href="/events/new">Add a task</button>
  <button><a href="/events/">See all tasks</button>
  {{/if}}

  <button><a href="/keepers">See keepers</button>
  <button><a href="/logout">LOGOUT</button>
  
  {{#unless enabled}}
  <button><a href="/profile">My profile</button>
  {{/unless}}
</div>