{{!-- <div class="home-container"> --}}
{{#if enabled}}
<h1>My profile</h1>
{{else}}
{{#if users.name}}<h1>{{users.name}}'s profile detail</h1>
{{else }}
<h1>Keeper's profile detail</h1>
{{/if}}
{{/if}}
<div class="conteiner-two-wrap-center">
  <div class="image-wrap-center">
    {{#if enabled}}
    <img class="img-rounded" src="{{user.img}}" width="140" height="140">
    {{else }}
    <img class="img-rounded" src="{{users.img}}" width="140" height="140">
    {{/if}}
  </div>
  <div class="width-50">
    {{#if enabled}}
    <button class="button-grey-large"><a href="/pets">All my pets</a></button>
    <button class="button-grey-large"><a href="/events/myevents">My tasks</a></button>
    <button class="button-grey-large"><a href="/events/enrolledin">Enrolled in</a></button>
    {{else }} {{!-- 3rd party --}}
    <button class="button-grey-large"><a href="/pets/userpets/{{users._id}}">Pets</a></button>
    <button class="button-grey-large"><a href="/events/userevents/{{users._id}}">Tasks</a></button>
    <button class="button-grey-large"><a href="/events/enrolledin/{{users._id}}">Enrolled in</a></button>
    {{/if}}
  </div>

</div>
{{#if enabled}}
<div class="little-button-edit-profile">
  <button class="button-blue-little"><a href="/imageUpload">Edit</a></button>
</div>
{{/if}}
<br>
<hr>
{{#if user}}
<div class="p-wrap">

  <p>Name: {{user.name}}</p>
  <p>Last Name: {{user.lastName}}</p>
  <p>Email: {{user.email}}</p>
  <p>Phone: {{user.phone}}</p>
  <p>Address: {{user.address.[0].street}} {{user.address.[0].number}} </p>
  <p>Location: {{user.address.[0].location}}</p>
  <p>Zipcode: {{user.address.[0].zipcode}}</p>
  {{#if keeperActive}}
  <p>Keeper.</p>
  {{/if }}
  <br>
</div>
{{else}}
<div class="p-wrap">
  <p>Name: {{users.name}}</p>
  <p>Last Name: {{users.lastName}}</p>
  <p>Email: {{users.email}}</p>
  <p>Phone: {{users.phone}}</p>
  <p>Adress: {{users.address.[0].street}} {{users.address.[0].number}} </p>
  <p>Location: {{users.address.[0].location}}</p>
  <p>Zipcode: {{users.address.[0].zipcode}}</p>
  {{#if keeperActive}}
  <p>Keeper.</p>
  {{/if }}
 </div>
{{/if}}

{{#if enabled}}
<div class="large-btn-wrap">
  <button class="button-blue-large"><a href="/profile/update">Edit profile</a></button>
  <button class="button-blue-large"><a href="/pets/new">Add a pet</a></button>
  <button class="button-blue-large"><a href="/events/new">Add a task</a></button>
  <button class="button-grey-large"><a href="/events/">See all tasks</a></button>
</div>
<div class="large-btn-wrap">
  <button class="button-grey-large"><a href="/keepers">See keepers</a></button>
  <button class="button-red"><a href="/logout">LOGOUT</a></button>
</div>
{{/if}}
{{!-- <div class="large-btn-wrap">
    <button class="button-grey-large"><a href="/keepers">See Keepers</a></button>
  </div> --}}

{{#unless enabled}}
<button class="button-blue"><a href="/profile">My profile</a></button>
{{/unless}}
{{!-- </div> --}}