<div class="home-container">
  {{#if enabled}}
  <h1>My profile</h1>
  {{else}}
  <h1>{{user.name}}'s profile detail</h1>
  {{/if}}
  <img src="{{user.img}}">
  <p>Name: {{user.name}}</p>
  <p>Last Name: {{user.lastName}}</p>
  <p>email: {{user.email}}</p>
  <p>Phone: {{user.phone}}</p>
  <p>Mobile: {{user.mobile}}</p>
  <p>Secondary Phone:{{user.secondaryPhone}}</p>

  {{#if enabled}}
  <a class="button" href="profile/update">Edit Profile</a>
  <a class="button" href="/events/myevents">My tasks</a>
  <a class="button" href="/events/enrolledin">Enrolled in</a>
  <a class="button" href="/pets/new">Add a pet</a>
  <a class="button" href="/events/new">Add a task</a>
  <a class="button" href="/events/">See all tasks</a>
  {{/if}}

  <a class="button" href="/keepers">See Keepers</a>
  <a class="button" href="/logout">LOGOUT</a>
  {{#unless enabled}}
  <a class="button" href="/profile">General Profile</a>
  {{/unless}}
</div>